<header class="site-header">
  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <div class="dropdown">
        <div class="button"><span>&#xf107;</span>MENU</div>
        <script>
        document.addEventListener("DOMContentLoaded", function() {
            var button = document.querySelector(".dropdown .button");
            var container = document.querySelector(".dropdown .menuitem-container");
            button.onclick = function() {
                if (container.style.display !== "block") {
                    container.style.display = "block";
                } else {
                    container.style.display = "none";
                }
            };
        });
        </script>
        <nav class="menuitem-container">
            {% for page in site.pages %}
              {% if page.title %}
              <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
              {% endif %}
            {% endfor %}
            <a class="page-link" href="{{ site.baseurl }}/feed.xml">RSS</a>
        </nav>
    </div>

    <form class="searchform" onsubmit="event.preventDefault();submitSearch()">
      <input type="text" id="searchQuery" placeholder="Search">
      <input type="hidden" id="baseUrl" value="{{site.url}}{{site.baseurl}}">
    </form>
    <script>
    function submitSearch() {
      var query = document.getElementById("searchQuery").value;
      var baseUrl = document.getElementById("baseUrl").value;
      window.location = "http://google.com/search?q=site:" + baseUrl + " " + query;
    }
    </script>

</header>
