/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
}

.site-header .wrapper {
  border-bottom: 1px solid #121212;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  padding-bottom: 8px;
  padding-top: 18px;
}

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,700);

.site-title {
    float: left;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 25px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;

    &,
    &:visited {
        color: #59A1E5;
    }
}

.site-nav {
    float: right;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}

@font-face {
    /* Usually the font-face is setup in fontawesome.css (that they provide) but
       I moved it here because I didn't want a separate directory for
       fontawesome with a subdir for fonts etc, so basically I took their .woff
       and their .css, then dropped the @font-face stuff near the top of their
       .css and added the stuff below as a replacement. */
    font-family: "FontAwesome";
    src: url("font-awesome.woff") format('woff');
}

.searchform {
    float: right;
    position: relative;

    // On really narrow screens we can't fit title + search + menu button
    // so the searchbox is pushed down to the next line and in this case
    // we put some margin-top on it and force "clear both".
    @media (max-width: 550px) {
        clear: both;
        margin-top: 8px;
    }

}

.searchform input {
    background: #252525;
    border: 0px;
    border-radius: 4px;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    color: #fff;
    font-size: 14px;
    padding-bottom: 4px;
    padding-left: 25px;
    padding-top: 4px;
}

$placeholder-color: #757575;

.searchform input::-webkit-input-placeholder {
    color: $placeholder-color;
}

// scss-lint:disable VendorPrefix
.searchform input::input-placeholder,
.searchform input::-moz-placeholder {
    color: $placeholder-color;
}
// scss-lint:enable VendorPrefix

.searchform::before {
    color: lighten($placeholder-color, 15%);
    content: "\f002";
    font-family: "FontAwesome";
    left: 6px;
    position: absolute;
    top: 0px;
}

$button-height: 25px;

.dropdown .button {
    background-color: #4D91BD;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.62);
    color: #fff;
    display: inline-block;
    font-family: "PT Sans", sans-serif;
    font-size: 12px;
    height: $button-height;
    letter-spacing: 2px;
    line-height: $button-height;
    padding-left: 50px;
    padding-right: 25px;
    position: relative;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
    top: -1px;

    // scss-lint:disable VendorPrefix PropertySortOrder
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    // scss-lint:enable VendorPrefix PropertySortOrder
}

.dropdown .button:visited {
    color: #fff;
}

.dropdown .button span {
    background-color: #527796;
    border-bottom-left-radius: 5px;
    border-right: 1px solid  rgba(0,0,0,0.15);
    border-top-left-radius: 5px;
    color: #fff;
    font-family: "FontAwesome";
    left: 0;
    position: absolute;
    text-align: center;
    width: 27px;
}

.dropdown .button:hover span, .dropdown .button:active span {
    background-color: #3C5971;
    border-right: 1px solid  rgba(0,0,0,0.3);
}

.dropdown .button:active {
    margin-top: 2px;
}

.dropdown {
    float: right;
    height: $button-height;
    margin-left: 25px;
    position: relative;
}

.menuitem-container {
    background: #000;
    border: 1px solid #333;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.62);
    display: none;
    margin-left: 3px;
    position: absolute;
    width: 94%;
    z-index: 1;
}

.menuitem-container a {
    background: linear-gradient(#373A3D 10%, #3E4142 90%);
    color: #fff;
    display: block;
    font-family: "PT Sans", sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px 15px;
    text-transform: uppercase;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
        border-top: 1px solid #292929;
    }
}

.menuitem-container a:hover {
    background: linear-gradient(#292B2E 10%, #2F3233 90%);
    text-decoration: none;
}


/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
}

.site-footer .wrapper {
    border-top: 1px solid #121212;
    box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0 inset;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    @extend %clearfix;
    color: $grey-color;
    font-size: 15px;
    margin-left: -$spacing-unit / 2;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    list-style: none;
    margin-left: 0;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    color: $grey-color;
    font-size: $small-font-size;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.highlight {
    margin-bottom: 20px;
    margin-top: 20px;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
