/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-header .wrapper {
  border-bottom: 1px solid #121212;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
}

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,700);

.site-title {
    float: left;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 56px;
    margin-bottom: 0;

    &,
    &:visited {
        color: #59A1E5;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}

@font-face {
    /* Usually the font-face is setup in fontawesome.css (that they provide) but
       I moved it here because I didn't want a separate directory for
       fontawesome with a subdir for fonts etc, so basically I took their .woff
       and their .css, then dropped the @font-face stuff near the top of their
       .css and added the stuff below as a replacement. */
    font-family: "FontAwesome";
    src: url("font-awesome.woff") format('woff');
}

.searchform {
    float: left;
    line-height: 56px;
    margin-left: 200px;
    position: relative;
}

.searchform input {
    background: #252525;
    border: 0px;
    border-radius: 4px;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    color: #fff;
    font-size: 14px;
    padding-bottom: 4px;
    padding-left: 25px;
    padding-top: 4px;
}

$placeholder-color: #757575;

.searchform input::-webkit-input-placeholder {
    color: $placeholder-color;
}

// scss-lint:disable VendorPrefix
.searchform input::input-placeholder,
.searchform input::-moz-placeholder {
    color: $placeholder-color;
}
// scss-lint:enable VendorPrefix

.searchform::before {
    color: lighten($placeholder-color, 15%);
    content: "\f002";
    font-family: "FontAwesome";
    left: 6px;
    position: absolute;
    top: 0px;
}


/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
}

.site-footer .wrapper {
    border-top: 1px solid #121212;
    box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0 inset;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    @extend %clearfix;
    color: $grey-color;
    font-size: 15px;
    margin-left: -$spacing-unit / 2;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    list-style: none;
    margin-left: 0;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    color: $grey-color;
    font-size: $small-font-size;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.highlight {
    margin-bottom: 20px;
    margin-top: 20px;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
