.highlight code, .highlight pre {
  background: transparent;
  border-radius: 2px;
  overflow-x: auto;
  border: 0px;
  margin: 0px;
}
.highlight {
  background: rgba(0, 0, 0, 0.298039);
  border: 1px solid #353535;
  border-radius: 3px;
  color: #93a1a1
}
.highlight pre, pre, .highlight .hll { border: 1px solid #ccc; padding: 6px 10px; border-radius: 3px; }
.highlight .c1,
.highlight .c { color: #999973; font-style: italic; }
.highlight .err { color: #999973; }
.highlight .p { color: #A8B8B8; }
.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr { font-weight: bold; color: #A8B8B8; }
.highlight .kt { color: #745380; font-weight: bold; }
.highlight .o { color: #97A6A6; font-weight: bold; }
.highlight .cm { color: #999988; font-style: italic; }
.highlight .cp { color: #999999; font-weight: bold; }
.highlight .cs { color: #999999; font-weight: bold; font-style: italic; }
.highlight .gd { color: #000000; background-color: #ffdddd; }
.highlight .gd .x { color: #000000; background-color: #ffaaaa; }
.highlight .ge { font-style: italic; }
.highlight .gr { color: #aa0000; }
.highlight .gh { color: #999999; }
.highlight .gi { color: #000000; background-color: #ddffdd; }
.highlight .gi .x { color: #000000; background-color: #aaffaa; }
.highlight .go { color: #888888; }
.highlight .gp { color: #555555; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: #800080; font-weight: bold; }
.highlight .gt { color: #aa0000; }
.highlight .m { color: #007373; }
.highlight .s,
.highlight .s1,
.highlight .s2 { color: #639965; }
.highlight .n { color: #949494; }
.highlight .na { color: #748DB1; }
.highlight .nb { color: #949494; }
.highlight .nc { color: #949494; font-weight: bold; }
.highlight .no { color: teal; }
.highlight .ni { color: purple; }
.highlight .ne { color: #990000; font-weight: bold; }
.highlight .nf { color: #949494; font-weight: bold; }
.highlight .nn { color: #555555; }
.highlight .nt { color: #748DB1; font-weight: bold; }
.highlight .nv { color: teal; }
.highlight .ow { font-weight: bold; }
.highlight .w { color: #bbbbbb; }
.highlight .mf { color: #009999; }
.highlight .mh { color: #009999; }
.highlight .mi { color: #009999; }
.highlight .mo { color: #009999; }
.highlight .sb { color: #dd1144; }
.highlight .sc { color: #C24D6B; }
.highlight .sd { color: #C24D6B; }
.highlight .se { color: #C24D6B; }
.highlight .sh { color: #C24D6B; }
.highlight .si { color: #5A5C8C; font-weight: bold; }
.highlight .sx { color: #C24D6B; }
.highlight .sr { color: #009926; }
.highlight .ss { color: #990073; }
.highlight .bp { color: #999999; }
.highlight .vc { color: teal; }
.highlight .vg { color: teal; }
.highlight .vi { color: teal; }
.highlight .il { color: #009999; }
.highlight .gc { color: #999; background-color: #EAF2F5; }
